@model Contact
<tr>
    <td>
    <div>@Model.FullName</div>
    <input asp-for="OID" hidden="true" id="oid"/>
    </td>
    <td>
    <div>@Model.Department</div>
    </td>
    <td>
    <div>@Model.HomePhone</div>
    </td>
    <td>
    <div>@Model.CellPhone</div>
    </td>
    <td>
    <div>@Model.HireDate</div>
    </td>
    <td>
    <div>@Model.ReleaseDate</div>  
    </td>
    <td>
    <div>@Model.BargainingUnit</div>
    </td>
    <td>
    <div>@Model.SubUnionSeniorityDate</div>
    </td>
    <td>
    <div>@Model.SubUnion</div>
    </td>    
    <td style="background-color: rgba(136, 130, 149, 0.2);" class="called">
    <select asp-for="Called" data-style="btn-info" class="form-control" id="called" title="select">
        <option></option>
        <option value="Yes">Yes</option>
    </select>
    </td>
    <td style="background-color: rgba(136, 130, 149, 0.2);" class="accepted">
    <select asp-for="Accepted" data-style="btn-info" class="form-control" id="accepted" title="select" disabled="true">
        <option></option>
        <option value="Declined/No Response">Declined/No Response</option>
        <option value="Accepted">Accepted</option>
        <option value="Vacation/Disability">Vacation/Disability</option>
    </select>
    </td>
</tr>
   
   

   

   

   

    